
.about-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background: #b0eaeb;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.about-section {
    margin-bottom: 30px;
}

.about-section h2 {
    font-size: 1.8rem;
    color: #007bff;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.about-team {
    margin-top: 30px;
    margin-bottom: 10px;
}
h2{
    color:#007bff ;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.team-card {
    margin-top: 15px;
    background: rgb(180, 225, 33);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.team-card:hover {
    transform: translateY(-5px);
}

.team-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-card h3 {
    font-size: 1.3rem;
    color: #333;
}

.team-card p {
    font-size: 1rem;
    color: #777;
}
