*{
    margin-left: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-emphasis: inherit;
    
}
body{
    background-color:aliceblue;
}
.navbar {
    display: flex;
    margin-top: 0px;
    gap: 50px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    
  }

  .navbar {
    background: linear-gradient(to bottom, #00d4ff, #74c182);
  box-shadow: 0px 4px 12px rgba(0, 212, 255, 0.5);
  padding: 15px;
  border-radius: 10px;
    transition: backdrop-filter 0.3s ease-in-out;
    border: 2px solid;
  }
  
  
  

  .navbar a{
    margin: 9px;
    padding: 10px;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 0px;
    transition: background-color 0.5s ease ;

  }
   
.container{
    display: flex;

}
.list-container{
    display: flex;
    gap: 20px;
    
}

.list-container a{
    background: linear-gradient(to right, red, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}

.navbar a:hover{
    background: linear-gradient(to right, yellow, cyan, lime);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo{
    width: 80px;
  height: auto;
  object-fit: cover;
  background-size: cover;
  margin-left: 40px;
  margin-top: 15px;
  padding: 0px;
}
.search-box {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    margin-right: 0px;
    margin-left: 300px;
    height: 20px;
    width: 250px;
    align-items: center;
    justify-content: center; 
    margin-top: 15px;
  }
  
  .search-btn {
    padding: 8px 12px;
    margin-left: 5px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-top: 20px;
  }
  
  .search-btn:hover {
    background-color: #e64a19;
  }
